name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Criar distribuição do pacote
        run: python -m build

      - name: Fazer upload do build
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs: release-build
    permissions:
      id-token: write  # Necessário para Trusted Publishing no PyPI

    environment:
      name: pypi
      url: https://pypi.org/project/goesgcp/

    steps:
      - name: Baixar arquivos do build
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publicar no PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
